body {
    margin: 0;
    padding: 0;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.inside {
    background-image: url("https://medleyhome.com/cdn/shop/articles/Lala_90x110_Bumper_Sectional-New_Delhi_Bleach_fabric-Walnut_Thom_Leg-Rendering-1_1_1.jpg?v=1677193859&width=2048");
    width: 100vw;
    height: 100vh;
}

.littleButtons {
    border-radius: 20px;
    height: 32%;
    padding: 5px;
    border: 3px solid rgb(211, 211, 211);
    background-color: rgb(0, 0, 0);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.716);
}
.play {
    left: 1;
    top: 0;
    margin-top: 1.5rem;
    height: 30px;
    width: 30px;
    border-radius: 20px;
    background-color: rgba(34, 34, 34, 0.921);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.716);
}

.playtwo {
    background-color: rgba(18, 18, 18, 0.983);
    border-radius: 20px;
    width: 30px;
    height: 30px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.716);
}

.play {
    transition: transform 0.2s ease-in-out;
}

.play:hover {
    transform: scale(1.2);
}

.playtwo {
    transition: transform 0.2s ease-in-out;
}

.playtwo:hover {
    transform: scale(1.2);
}

.container {
    height: 80%;
    border: 3px solid rgb(211, 211, 211);
    background-color: rgb(0, 0, 0);
    border-radius: 25px;
    margin-top: 5rem;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.716);
}

.leftSide {
    background-color: rgb(0, 0, 0);
    border-right: 3px solid lightgray;
}

.bottom {
    height: 90%;
}

.headers{
    z-index: 1;
    margin: 15px;
    position: absolute;
    height: auto;
    color:  rgb(0, 0, 0);
    font-weight: 900;
    text-shadow: 1px 1px 1px rgb(255, 255, 255);
}

.glow{
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.716);
}

.box {
    border-radius: 20px;
    position: relative;
    overflow: hidden;
}

.w3-grey, .w3-light-grey{
    border-radius: 20px;
}

.w3-grey{
    height: 5px !important;
    background-color: rgb(229, 10, 20) !important;
}

.labels {
    background-color: rgba(34, 34, 34, 0.921);
    color: rgba(255, 255, 255, 0.82);
    padding: 5px;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    box-sizing: border-box;
    border-radius: 0 0 20px 20px;
}

.ratings {
    color: rgb(166, 166, 166);
    font-size: smaller;
}

.navbarContainer {
    background-color: rgb(229, 10, 20);
    box-shadow: 2px 2px 5px rgb(0, 0, 0);
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000; 
}

.disabled-link {
    pointer-events: none;
    cursor: not-allowed; 
    opacity: 0.6; 
}

@media screen and (max-width: 769px) {
    body{
        background-color: rgba(0, 0, 0, 0);
    }

    .container {
        margin-top: 60px;
        flex-direction: column-reverse; 
        border: none;
    }

    .navbarContainer{
        position: fixed;
        order: 1;
    }

    .leftSide {
        border-right: none;
        order: 3; 
    }

    .rightSide {
        order: 2; 
    }

    .inside {
        background-image: none;
        height: auto;
        background-color: rgb(5, 5, 5);
        border: none;
    }

    .littleButtons {
        display: none !important; 
    }

    .box {
        margin-bottom: 20px;
    }

    .headers {
        height: auto;
        text-align: left;
    }

    .grid.grid-cols-4 {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    .play{
        margin-top: .25rem !important;
    }
}

