body {
    margin: 0;
    padding: 0;
    color: white;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    
    .inside {
        background-image: url("https://medleyhome.com/cdn/shop/articles/Lala_90x110_Bumper_Sectional-New_Delhi_Bleach_fabric-Walnut_Thom_Leg-Rendering-1_1_1.jpg?v=1677193859&width=2048");
        width: 100vw;
        height: 100vh;
        background-size: cover;

        .littlescroll{
            width: 5%;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin: 10px;

            .littleButtons{
                border-radius: 20px;
                height: 32%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                border: 3px solid rgb(211, 211, 211);
                background-color: rgba(5, 5, 5, 0.961);
                box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.716);

                .cir{
                    height: 10%;
                    margin: 10px;
                }
            }
        }
    }
    
    .container {
        height: 80%;
        border: 3px solid rgb(211, 211, 211);
        background-color: rgba(5, 5, 5, 0.961);
        border-radius: 25px;
        margin-top: 5rem;
        box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.716);
        .leftSide {
            width: 20%;
            border-right: 3px solid lightgray;

            .buttons {
                padding: 10px;
            }
            
            .trailers {
                width: 100%;
                padding: 10px;
            }
        }
        
        .rightSide {
            width: 80%;
            height: 100%;
            
            .navbarContainer {
                height: 10%;
            }
        }
        
        .bottom {
            height: 90%;
            width: 100%;
        }
        
        .topPic {
            width: 91%;
            height: 48%;
            margin: 20px;
        }
        
        .bigImage {
            height: 100%;
            width: 100%;
            border-radius: 20px;
        }
        
        .box {
            width: 16rem;
            height: 8rem;
            border-radius: 20px;
        }

        .smallImage{
        }
    }
}